*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container{
    width: 70vw;
    height: 50vh;
    background-color: white;
border-radius: 5px;
}


.form{
    display: flex;
    padding-left: 8px;
    padding-top: 10px;
    justify-content: space-between;
    flex-direction: column;
}
    
.buton{
    display:flex ;
    justify-content: center;
    margin-top: 10px;
}

button{
    padding: 0 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
}



#hesaplar{
    height: 80%;
    margin: 10px 20px; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}

.hesap{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 5px 5px 5px;
    border-radius: 20px;
}

h3{
    margin-top: 10px;
    font-size: 23px;
}

img{
   width: 30px;
   cursor: pointer;
}



#fiyat{
    margin-left: 28px;
    background-color: aqua;

}

#harcama{
    background-color: aqua;
}




label{
    font-weight: bold;
}

.verialani{
    margin: 5px 0;
    
}


::placeholder{
    color: red;
    font-weight: bold;
}


